
@media (max-width: 1200px) {
    .imagenBanner {
        height: 340px;
    }
}

@media (max-width: 992px) {

    .wrapper-about  {
        line-height: 40px;
    }

    .imagenBanner {
        height: 340px;
    }

    .wrapper-contain {
        flex-direction: column;
        gap: 10px;
    }

    .aside{
     display: none;
    }

    .search-proyects {
        max-width: 95%;
        background-color: white;
        border-radius: 9px;
        margin: auto;
    }

    .search-proyects-input input {
        max-width: 100%;
        width: 100%;
        height: 43px;
        border: 1px solid #00000026;
        border-radius: 23px;
    }

   .search-proyects-input {
     justify-content: flex-start;
   }

    .publication {
        max-width: 95%;
        margin: auto;
    }

   .filters {
     max-width: 95%;
    }

    .menu-list ul {
        padding-left: 23px;
    }

    .wrapper-publication, .publication {
        max-width: 95%;
        margin: auto;
    }
   
}

@media (max-width: 768px) {
    .imagenBanner {
        height: 290px;
    }
    .wrapper-imagen-perfil {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        top: 251px;
    }
    .menu-list {
        margin-top: 185px;
    }
    .search-proyects-input input {
        max-width: 602px;
        width: 100%;
    }
    .wrapper-about {
        line-height: 27px;
    }

} 

@media (max-width: 480px) {
    .imagenBanner {
        height: 190px;
    }
    .wrapper-imagen-perfil {
        top: 151px;
    }
    .wrapper-container-aside {
        max-width: 100%;
        margin: auto;
    }
    .search-proyects {
        max-width: 95%;
    }
    .search-proyects-input input {
        max-width: 254px;
        width: 474px;
    }
    .filters {
        max-width: 95%;
    }
    .wrapper-about {
        line-height: 27px;
    }
    .menu-list  ul  {
       display: none;
    }
    .icon-menu {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        position: relative;
    }
    .icon-menu i {
       font-size: 20px;
    }
   
    .skills-wrapper  {
        flex-wrap: wrap;
        gap: 20px;
    
    }
    .wrapper-imagen-nombre h1 {
        font-size: 30px;
    }
    .languages-skills {
        margin-top: 30px;
        margin-right: 60px;
    }
    
}

@media (min-width: 370px) and (max-width: 480px) {
    .search-proyects-input input {
      max-width: 78%;
      width: 100%;
    }
    .wrapper-about {
     line-height: 30px;
    }
   
}

@media (min-width: 481px) and (max-width: 675px) {
    .search-proyects-input input {
        width: 100%;
    }
}

@media (min-width: 480px) {
    .icon-menu {
        display: none;
    }
}


.animate__bounce {
    animation: bounce 1s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }