
@media (max-width: 1200px) {
    .imagenBanner {
        height: 340px;
    }
}

@media (max-width: 992px) {
    .imagenBanner {
        height: 340px;
    }
}

@media (max-width: 768px) {
    .imagenBanner {
        height: 290px;
    }
    .wrapper-imagen-perfil {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        top: 251px;
    }
    .menu-list {
        margin-top: 185px;
    }
} 

@media (max-width: 480px) {
    .imagenBanner {
        height: 190px;
    }
    .wrapper-imagen-perfil {
        top: 151px;
    }
}

