
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
body,html {
    background-color: white;
}



.aside {
 background-color: #F0F2F5;
 flex: 1;
}

.banner {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.blubleComment {
 
    display: flex;
}

.box-comment {
    display: flex;
}

.container-img {
    width: 170px;
    border: 3px solid white;
}
.comment-avatar {
    margin-left: 10px;
}

.comment-body {
    width: 100px;
    max-height: 173px;
    max-width: 844px;
    text-align: center;
    padding: 11px;
    border-radius: 12px;
    width: 200px;
    background-color: #F0F2F5;
}

.container-list-menu {
    height: 300px;
}

.filters {
    height: 80px;
    max-width: 100%;
    margin: 10px auto;
    background-color: white;
    border-radius: 8px;
}

.filters-title {
    font-size: 20px;
    font-family: "Arial";
    font-weight: 600;
    margin: 0px;
   padding: 26px 10px;
}

.grid-item {
    background-color: white;
    border: 1px solid ;
    height: 80px;
}

.grid-item img {
    height: 100%
}

img {
    max-width: 100%;
    height: auto;
}

.imagenPerfil {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid white;
}

.imagenBanner  {
  width: 100%;
  height: 300px;
  border-radius: 12px;
  object-fit: cover;
}

input[name="search"], input[name="search-proyects"] {
    background-color: #F0F2F5;
}

.like-comment {
    border: 1px solid transparent;
    height: 40px;
    border-top-color: #dadde1;
    border-bottom-color: #dadde1;
    display: flex;
    justify-content: space-evenly;
    padding: 28px 0px;
}

.like, .comment {
    color: gray;
    display: flex;
    align-items: center;
    gap: 10px;
}

.main {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #F0F2F5;
    min-height: 100vh;
}

.menu-list {
    border: 1px solid transparent;
    border-top-color: #dadde1;
    max-width: 900px;
    margin: 112px auto 0 auto;
    display: flex;
}

.menu-list ul {
    display: inline-flex;
    gap: 40px;
    font-family: "lato-regular";
    padding-left: 0px;
    margin-bottom: 0px;
}

.menu-list ul li {
    list-style: none;
    font-size: 22px;
    color: #1877f2;
}

.menu-list-tabs-active {
    width: 100px;
    height: 48px;
    display: flex;
    justify-content: center;
    border-bottom: 4px solid transparent;
    border-bottom-color: #1877f2;
    border-radius: 1px;
}

.picture-wall {
    width: 580px;
    display: block;
    margin: 20px auto;
}

.picture-wall > img {
  border-radius: 12px;
}

.showComments {
    display: flex;
    flex-direction: column;  
    gap: 35px;
    overflow-y: scroll;
    padding: 35px;
    height: 190px;
}
 
/* .search-proyects-comment {
  display: none;
}  */

.search-proyects-comment-active {
    display: block;
}

.search-proyects-comment .search-proyects-input {
    justify-content: flex-start;
}

.search-proyects {
    max-width: 100%;
    background-color: white;
    border-radius: 9px;
}

.search-proyects-input {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

.search-proyects-input input {
    max-width: 470px;
    width: 470px;
    height: 35px;
    border: 0px;
    border-radius: 23px;
    padding-left: 30px;
    outline: 0;
}

.search-proyects-avatar {
    margin: 0 10px;
}

.search-proyects-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.search-proyects-avatar > .avatar-comment {
    height: 35px;
    width: 35px;
}

.wrapper {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.wrapper-publication-header-name {
    font-family: "inter-regular";
    font-size: 20px;
}

.wrapper-publication-header {
    border: 1px solid;
    height: 71px;
    display: flex;
    padding: 10px;
    align-items: center;
    border: 1px solid transparent;
    border-bottom-color: #dadde1;
    margin-bottom: 10px;
}

.wrapper-divider {
    height: 10px;
}

.wrapper-contain {
    max-width: 900px;
    width: 100%;
    display: flex;
    padding: 30px 0px;
    background-color: #F0F2F5;
}

.wrapper-imagen-perfil {
    display: flex;
    width: 100px;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    bottom: -104px;
    padding: 20px;
}
.wrapper-imagen-nombre span , h1 {
    font-family: "lato-black";
    padding-left: 20px;
}

.wrapper-imagen-nombre h1 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.wrapper-container-aside {
    border-radius: 12px;
    max-width: 270px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de tamaño igual */
    
    gap: 2px; /* Espacio entre las celdas */
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Posición X, Posición Y, Desenfoque, Color */
}

.wrapper-publication {
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    /* padding: 30px 0px; */
    margin: 10px 0;
}

.works {
    background-color: white;
    flex: 2;
    background-color: #F0F2F5;
    min-width: 50%;
}